java-backend-jmssender/src/main/resources/Authentication_v3.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). 
	RI's version is JAX-WS RI 2.2.10-b140319.1121 svn-revision#7b34660d6bc70e587e8ec81a17e4d76af68816a6. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). 
	RI's version is JAX-WS RI 2.2.10-b140319.1121 svn-revision#7b34660d6bc70e587e8ec81a17e4d76af68816a6. -->
<definitions
	xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
	xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy"
	xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://ch/hpbsc/zss/authentication/v3/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ch/hpbsc/zss/authentication/v3/"
	name="Authentication">
	<types>
		<xsd:schema>
			<xsd:import namespace="http://ch/hpbsc/zss/authentication/exc/v3/"
				schemaLocation="http://s-zss-wsproxy.rtc.ch:15968/zss_ws/Authentication?xsd=1" />
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://ch/hpbsc/zss/authentication/v3/"
				schemaLocation="http://s-zss-wsproxy.rtc.ch:15968/zss_ws/Authentication?xsd=2" />
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://ch/hpbsc/zss/exc/v3"
				schemaLocation="http://s-zss-wsproxy.rtc.ch:15968/zss_ws/Authentication?xsd=3" />
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://ch/hpbsc/zss/dto/v3/"
				schemaLocation="http://s-zss-wsproxy.rtc.ch:15968/zss_ws/Authentication?xsd=4" />
		</xsd:schema>
	</types>
	<message name="verifyCredential">
		<part name="parameters" element="tns:verifyCredential" />
	</message>
	<message name="verifyCredentialResponse">
		<part name="parameters" element="tns:verifyCredentialResponse" />
	</message>
	<message name="changePassword">
		<part name="parameters" element="tns:changePassword" />
	</message>
	<message name="changePasswordResponse">
		<part name="parameters" element="tns:changePasswordResponse" />
	</message>
	<message name="UserNotAuthenticatedException">
		<part xmlns:ns1="http://ch/hpbsc/zss/exc/v3" name="fault"
			element="ns1:UserNotAuthenticated" />
	</message>
	<message name="InvalidPasswordException">
		<part xmlns:ns2="http://ch/hpbsc/zss/authentication/exc/v3/"
			name="fault" element="ns2:InvalidPassword" />
	</message>
	<message name="login">
		<part name="parameters" element="tns:login" />
	</message>
	<message name="loginResponse">
		<part name="parameters" element="tns:loginResponse" />
	</message>
	<portType name="Authentication">
		<operation name="verifyCredential">
			<input
				wsam:Action="http://ch/hpbsc/zss/authentication/v3/Authentication/verifyCredentialRequest"
				message="tns:verifyCredential" />
			<output
				wsam:Action="http://ch/hpbsc/zss/authentication/v3/Authentication/verifyCredentialResponse"
				message="tns:verifyCredentialResponse" />
		</operation>
		<operation name="changePassword">
			<input
				wsam:Action="http://ch/hpbsc/zss/authentication/v3/Authentication/changePasswordRequest"
				message="tns:changePassword" />
			<output
				wsam:Action="http://ch/hpbsc/zss/authentication/v3/Authentication/changePasswordResponse"
				message="tns:changePasswordResponse" />
			<fault message="tns:UserNotAuthenticatedException" name="UserNotAuthenticatedException"
				wsam:Action="http://ch/hpbsc/zss/authentication/v3/Authentication/changePassword/Fault/UserNotAuthenticatedException" />
			<fault message="tns:InvalidPasswordException" name="InvalidPasswordException"
				wsam:Action="http://ch/hpbsc/zss/authentication/v3/Authentication/changePassword/Fault/InvalidPasswordException" />
		</operation>
		<operation name="login">
			<input
				wsam:Action="http://ch/hpbsc/zss/authentication/v3/Authentication/loginRequest"
				message="tns:login" />
			<output
				wsam:Action="http://ch/hpbsc/zss/authentication/v3/Authentication/loginResponse"
				message="tns:loginResponse" />
			<fault message="tns:UserNotAuthenticatedException" name="UserNotAuthenticatedException"
				wsam:Action="http://ch/hpbsc/zss/authentication/v3/Authentication/login/Fault/UserNotAuthenticatedException" />
		</operation>
	</portType>
	<binding name="AuthenticationPortBinding" type="tns:Authentication">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http"
			style="document" />
		<operation name="verifyCredential">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="changePassword">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
			<fault name="UserNotAuthenticatedException">
				<soap:fault name="UserNotAuthenticatedException" use="literal" />
			</fault>
			<fault name="InvalidPasswordException">
				<soap:fault name="InvalidPasswordException" use="literal" />
			</fault>
		</operation>
		<operation name="login">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
			<fault name="UserNotAuthenticatedException">
				<soap:fault name="UserNotAuthenticatedException" use="literal" />
			</fault>
		</operation>
	</binding>
	<service name="Authentication">
		<port name="AuthenticationPort" binding="tns:AuthenticationPortBinding">
			<soap:address
				location="http://s-zss-wsproxy.rtc.ch:15968/zss_ws/Authentication" />
		</port>
	</service>
</definitions>